body {
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: #F4F4F4;
}

.thumb-hold {
	max-width: 200px;
}

.ajustment-submit {
	margin-top: 5px;
}